<%- include('partials/header', {user: user, classname: 'todoapp'}) %>
			<a href="/draw">Draw New File</a><br>
			<form action="/" method="post" enctype="multipart/form-data">
				<label>Upload a drawing file:
					<input type="file" name="file" accept=".dxf,.svg,image/svg" />
				</label>
				<input type="submit" value="Upload" />
			</form>
			<% if (activeCount + completedCount > 0) { %>
			<section class="main">
				<ul class="todo-list">
					<% uploads.forEach(function(upload) { %>
					<li <%- upload.status === 1 ? 'class="completed"' : '' %>>
						<div class="view">
							<a href="/draw/<%= upload.id %>"><%= upload.filename %></a>
							<a href="/<%= upload.outpath %>" class="download">Download</a>
							<a href="/send/<%= upload.id %>">Send!</a>
							<button class="destroy" form="delete-<%= upload.id %>"></button>
						</div>
						<form id="delete-<%= upload.id %>" action="/<%= upload.id %>/delete" method="post">
							<% if (filter) { %>
							<input type="hidden" name="filter" value="<%= filter %>"/>
							<% } %>
						</form>
					</li>
					<% }); %>
				</ul>
			</section>
			<% } %>
		</section>
	</body>
</html>
